{
    "extends": ["@10up/eslint-config/react"],
    "rules": {
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0,
        "react/jsx-props-no-spreading": 0,
        "jsdoc/check-tag-names": 0
    }
}